# Pandas Ejercicio #7

Cool T-Shirts te ha preguntado si puedes analizar los datos de su sitio web. Tu trabajo es construir un "Funnel" (una descripcion de como las personas van al siguiente paso dentro de un proceso de multiples pasos)

En este caso, nuestro funnel seria como el siguiente proceso:

- 1. Un user visita la pagina web de Cool T-shirt
- 2. El usuario añade una prenda (camiseta) a su carrito de compras
- 3. El usuario hace click en "checkout"
- 4. El usuario compra la camiseta

### Ciudado: en el momento de usar el metodo `read_csv` pase un segundo parametro para parsear las fechas asi: `parse_dates=[1]`

In [1]:
import pandas as pd

In [8]:
visits = pd.read_csv('visits.csv')
visits.head()
cart = pd.read_csv('cart.csv')
cart.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

Combine `visits` y `cart` usando un left merge

In [11]:
merged = visits.merge(cart, how="left")

Que tan largo es la nuevo dataframe?

In [19]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2052 entries, 0 to 2051
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     2052 non-null   object
 1   visit_time  2052 non-null   object
 2   cart_time   400 non-null    object
dtypes: object(3)
memory usage: 64.1+ KB

In [17]:
print(merged.shape[0])

2052

In [18]:
print(len(merged))

2052

Cuantos `timestamps` son `null` o `NaT` para la columna `cart_time`?

In [21]:
##2052 -400 
x = 2052 -400
x

1652

In [23]:
merged.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:49:00
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN

In [31]:
count_visit = merged[(pd.notna(merged.cart_time))].count()
count_visit

user_id       400
visit_time    400
cart_time     400
dtype: int64

In [55]:
is_null = len(merged[pd.isnull(merged.cart_time)])
is_null

1652

In [51]:
not_null = len(merged[pd.notnull(merged.cart_time)])
not_null

400

Que porcentaje de usuarios que han visitado el sitio han terminado poniendo una camiseta en su carrito de compras?

Nota: para calcular porcentajes, es util cambiar cualquier numero entero en un flotante `float()`. De otra forma Python suara una division entre enteros, el cual corta los puntos decimales

In [58]:
porcentaje = (float(not_null) * 100) / float(len(merged))
porcentaje

19.49317738791423

Repita el left merge para `cart` y `checkout` y cuente los valores `null`. Que porcentaje de usuarios pusieron items en el carrito de comoras, pero no procedieron a terminar la compra?

In [61]:
checkout = pd.read_csv('checkout.csv')
checkout

cart_and_checkout = cart.merge(checkout, how="left")

cart_is_null = len(cart_and_checkout[pd.isnull(cart_and_checkout.checkout_time)])
cart_is_null

126

Haga un merge sobre todos pasos del funnel usando una serie de left merges. Guarde el resultado en la variable `all_data`

In [114]:
purchase = pd.read_csv('purchase.csv', parse_dates=[1])
visits = pd.read_csv('visits.csv', parse_dates=[1])
checkout = pd.read_csv('checkout.csv', parse_dates=[1])

all_data = visits.merge(cart, how="left", ).merge(checkout, how="left").merge(purchase, how="left")
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:49:00,NaT,NaT
4,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN,NaT,NaT
...,...,...,...,...,...
2589,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaN,NaT,NaT
2590,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaN,NaT,NaT
2591,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaN,NaT,NaT
2592,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaN,NaT,NaT
2593,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaN,NaT,NaT

Que porcentaje de usuarios procedieron al checkout, pero no comparon una camistea?

In [120]:
not_null_purchase_time = all_data[pd.isnull(all_data.purchase_time)].count()
print(not_null)
total = len(all_data)
print(total)

percent = not_null_purchase_time * 100 / total
print(percent)

user_id          696
visit_time       696
cart_time        696
checkout_time    696
purchase_time    696
dtype: int64
2594
user_id             73.168851
visit_time          73.168851
cart_time            9.483423
checkout_time        4.626060
purchase_time        0.000000
time_to_purchase     0.000000
dtype: float64

Usando el dataframe gigante que guardamos en `all_data`, vamos a crear erl tiempo promedio desde la visita inicial hasta la compra final. Empice añadiendo la siguiente columna a su dataframe:

`
all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time
`

In [117]:
all_data['time_to_purchase'] =  all_data.purchase_time - all_data.visit_time

Examine el resultado usando

In [118]:
print(all_data.time_to_purchase)

0           NaT
1      00:44:00
2           NaT
3           NaT
4           NaT
         ...
2589        NaT
2590        NaT
2591        NaT
2592        NaT
2593        NaT
Name: time_to_purchase, Length: 2594, dtype: timedelta64[ns]

Calcule el tiempo promedio de compra

In [123]:
x = all_data.time_to_purchase.mean()
x

Timedelta('0 days 00:44:02.672413')