# Pandas Ejercicio #6 - Solution

La empresa Cool T-Shirts acaba de crear un sitio web para ordenar productos por intenert. Ellos quieren analizar dos datasets

- `visits_site.csv` que contiene informacion de todas las visitas a la pagina
- `checkouts.csv` que contiene todos los usuarios que hicieron checkout en la pagina

Importe los datasets suministrados e imprimalos

### Ciudado: en el momento de usar el metodo `read_csv` pase un segundo parametro para parsear las fechas asi: `parse_dates=[1]`

In [1]:
import pandas as pd

In [13]:
visits = pd.read_csv('visits_site.csv', parse_dates=[1])
visits.head()

                                user_id          visit_time
0  319350b4-9951-47ef-b3a7-6b252099905f 2017-02-21 07:16:00
1  7435ec9f-576d-4ebd-8791-361b128fca77 2017-05-16 08:37:00
2  0b061e73-f709-42fa-8d1a-5f68176ff154 2017-04-12 19:32:00
3  9133d6f0-e68b-4c8d-bafd-ff2825e8dafe 2017-08-18 04:32:00
4  08d13edb-071c-4cfb-9ee4-8f377d0e932a 2017-07-08 06:24:00

In [7]:
checkouts = pd.read_csv('checkouts.csv', parse_dates=[1])

checkouts.head()

                                user_id       checkout_time
0  fe90a9f4-960a-4a0d-9160-e562adb79365 2017-11-09 09:25:00
1  1a35b7eb-f603-407d-91be-a2c3304066fd 2017-08-15 21:25:00
2  e2c24ee0-7fdf-4400-abde-b36378fe5ce6 2017-07-04 15:39:00
3  10dbd3c5-d610-44e9-9994-110a7950b6b4 2017-08-09 21:07:00
4  f028e9dd-77d0-4002-83f6-372a4837fda6 2017-10-27 08:57:00

Queremos saber la cantidad de tiempo que transcurre desde la visita inicial de un usuario a la página web hasta el momento en que empieza a realizar el proceso de compra.

para ello use `merge` para combinar `visits` y `checkouts` y guardelo en una variable `v_to_c`

In [8]:
v_to_c = checkouts.merge(visits)
v_to_c

,user_id,checkout_time,visit_time
0,fe90a9f4-960a-4a0d-9160-e562adb79365,2017-11-09 09:25:00,2017-11-09 09:04:00
1,1a35b7eb-f603-407d-91be-a2c3304066fd,2017-08-15 21:25:00,2017-08-15 21:09:00
2,e2c24ee0-7fdf-4400-abde-b36378fe5ce6,2017-07-04 15:39:00,2017-07-04 15:33:00
3,10dbd3c5-d610-44e9-9994-110a7950b6b4,2017-08-09 21:07:00,2017-08-09 21:01:00
4,10dbd3c5-d610-44e9-9994-110a7950b6b4,2017-08-09 21:04:00,2017-08-09 21:01:00
...,...,...,...
75,a0fc94a2-4a80-4a33-994b-75783066ac62,2017-05-11 13:31:00,2017-05-11 13:07:00
76,65599d0d-76c2-4ad4-a717-70f12a187f1a,2017-02-15 07:27:00,2017-02-15 07:21:00
77,0b6b993f-3364-46ee-9baa-12b7fa546927,2017-03-06 23:59:00,2017-03-06 23:50:00
78,9812465d-fded-43c4-8685-3e96446f6cc7,2017-07-19 17:15:00,2017-07-19 17:02:00
79,43db76fc-d522-450d-a371-ef2a683d5bfd,2017-03-26 21:31:00,2017-03-26 21:11:00

Para calcular el tiempo entre la visita y el checkout, defina una columna `v_to_c` llamada `time`, la cual realiza el calculo de la diferencia. Llame el `.head()` para interpretar mejor el resultado y revise los tiempos de los usuarios en la nueva columna time!

In [9]:
v_to_c['time']= v_to_c.checkout_time - v_to_c.visit_time

Para obtener el tiempo promedio del checkout que codigo deberiamos ejecutar?

In [11]:
v_to_c.checkout_time.mean()

Timestamp('2017-06-06 16:31:53.250000128')