In [1]:
import pandas as pd

In [2]:
## lambdas

In [3]:
## funcion normal

def add_two(my_input):
    result = my_input + 2 
    return result

In [4]:
add_two(4)

6

In [5]:
##lambda 
##nombre fct = lambda argument:

add_two_2 = lambda my_input: my_input +2

In [6]:
add_two_2(4)

6

In [7]:
another_lambda = lambda x: (x*2) +3

In [8]:
another_lambda(2)

7

In [9]:
string_lambda = lambda my_string: my_string.lower()

In [10]:
string_lambda("MNLKSNKL EL")

'mnlksnkl el'

In [11]:
no_arg = lambda: 3+3

In [12]:
no_arg()

6

In [13]:
def mayor_que(x):
    if x > 40: 
        return "es mayor que 40"
    else: 
        return "es menor o igual a 40"

In [14]:
mayor_que_lam = lambda x: "mayor a 40" if x > 40 else "menor o igual que 40"

In [15]:
mayor_que_lam(12)

'menor o igual que 40'

In [16]:
### lambda x: [SALIDA SI ES TRUE] if [CONDICIONAL] else [SALIDA SI FALSE]

In [17]:
### 
## aparte

('daniel@gmail.com').split('@')[1]

'gmail.com'

In [18]:
df2 = pd.DataFrame([
    ['Diana@gmail.com', 'calle 25', 33],
    ['Juan@hotmail.com', 'carrera 50', 26],
    ['Andrea@gmail.com', 'av 28', 28]
], columns=['email', 'address', 'age'])
print(df2)

              email     address  age
0   Diana@gmail.com    calle 25   33
1  Juan@hotmail.com  carrera 50   26
2  Andrea@gmail.com       av 28   28

In [19]:
df2['provider'] = df2.email.apply(
    lambda x: x.split('@')[1]
)

In [20]:
df2

              email     address  age     provider
0   Diana@gmail.com    calle 25   33    gmail.com
1  Juan@hotmail.com  carrera 50   26  hotmail.com
2  Andrea@gmail.com       av 28   28    gmail.com

In [21]:
df = pd.DataFrame([
    
    ['Manzana', 1, 'No'],
    ['Leche', 4, 'No'],
    ['Papel', 5, 'Yes'],
    ['Bombillos', 3.75, 'Yes']
], columns=['Item', 'Price', 'Is Taxed?'])

In [22]:
df

        Item  Price Is Taxed?
0    Manzana   1.00        No
1      Leche   4.00        No
2      Papel   5.00       Yes
3  Bombillos   3.75       Yes

In [23]:
df['price taxed'] = df.apply(

    lambda row: row['Price'] * 1.075 if row['Is Taxed?'] == "Yes" else row['Price'],
    axis=1
)

In [24]:
df

        Item  Price Is Taxed?  price taxed
0    Manzana   1.00        No      1.00000
1      Leche   4.00        No      4.00000
2      Papel   5.00       Yes      5.37500
3  Bombillos   3.75       Yes      4.03125

In [25]:
df4 = pd.DataFrame([
    
    ['Manzana', 1, 'No'],
    ['Leche', 4, 'No'],
    ['Papel', 5, 'Yes'],
    ['Bombillos', 3.75, 'Yes']
], columns=['Item', 'Price', 'Is Taxed?'])

In [26]:
df4.columns = ['Articulo', 'Precio', 'Tiene Impuesto?']

In [27]:
df4

    Articulo  Precio Tiene Impuesto?
0    Manzana    1.00              No
1      Leche    4.00              No
2      Papel    5.00             Yes
3  Bombillos    3.75             Yes

In [28]:
## {'nombre_columna_anterior': 'nombre_columna_nueva', {'nombre_columna_anterior_2': 'nombre_nuevo_columna_2'}}
## .rename

In [29]:
df4.rename(columns={
    'Tiene Impuesto?' : 'tiene impuesto?'
},inplace=True)

In [30]:
df4

    Articulo  Precio tiene impuesto?
0    Manzana    1.00              No
1      Leche    4.00              No
2      Papel    5.00             Yes
3  Bombillos    3.75             Yes

In [31]:
## inplace=True doesn't create new df

In [32]:
##Delete column

## df.drop('column_name', axis=1, inplace=True)
## df.drop(['column_name_1', column_name_2], axis=1, inplace=True)

In [33]:
df4.drop('Precio', axis=1, inplace=True)

In [34]:
df4

    Articulo tiene impuesto?
0    Manzana              No
1      Leche              No
2      Papel             Yes
3  Bombillos             Yes

In [35]:
x = lambda x,y: x+y

In [36]:
x(3,4)

7