# Ejercicio #3

En este ejercicio usted va a analizar los datos de ShoeFly.com una tienda online ficticia.

Cargue aqui la data desde `shoefly.csv` en la variable `orders`

In [2]:
import pandas as pd

orders = pd.read_csv('shoefly.csv')

Inspeccione las primeras 5 lineas de datos

In [4]:
orders.head()

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown

Su departamento de marketing quiere enviar un email a todos los que estan en esta lista y han ordenado zapatos. Seleccione todos os emails de la columna `email` y guardelos en una variable llamada `emails`

In [9]:
orders = pd.DataFrame(orders)
orders

emails = orders['email']
emails

0     RebeccaLindsay57@hotmail.com
1           EmilyJoyce25@gmail.com
2           Joyce.Waller@gmail.com
3      Justin.Erickson@outlook.com
4                 AB4318@gmail.com
5           JulieMarsh59@gmail.com
6                 TJ5470@gmail.com
7           Janice.Hicks@gmail.com
8        GabrielPorter24@gmail.com
9        FrancesPalmer50@gmail.com
10         JessicaHale25@gmail.com
11      LawrenceParker44@gmail.com
12         SusanDennis58@gmail.com
13                DO2680@gmail.com
14       Rebecca.Charles@gmail.com
15              JC2072@hotmail.com
16              VS4753@outlook.com
17          RoyTillman20@gmail.com
18       Thomas.Roberson@gmail.com
19         ANewton1977@outlook.com
Name: email, dtype: object

Frances Palmer dice que su orden esta incorrecta. Que ordeno Frances Palmer? Use logica para seleccionar la fila de `orders` y guardela en una vairbale llamada `frances_palmer`

In [13]:
frances_palmer = orders[(orders.first_name == "Frances") & (orders.last_name == "Palmer")]

frances_palmer

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
9,62083,Frances,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white

Necesitamos nuevos reviews para nuestros zapatos confrmtables. Seleccione todas las ordenes en `shoe_type`: `clogs`, `boots` y `ballet flats` y guardelos en una variable `comfy_shoes`

In [15]:
comfy_shoes = orders[orders.shoe_type.isin(["clogs", "boots", "ballet flats"])]

comfy_shoes

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown
6,20487,Thomas,Jensen,TJ5470@gmail.com,clogs,fabric,navy
7,76971,Janice,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy
8,21586,Gabriel,Porter,GabrielPorter24@gmail.com,clogs,leather,brown
10,91629,Jessica,Hale,JessicaHale25@gmail.com,clogs,leather,red
12,45832,Susan,Dennis,SusanDennis58@gmail.com,ballet flats,fabric,white
14,73431,Rebecca,Charles,Rebecca.Charles@gmail.com,boots,faux-leather,white
16,39888,Vincent,Stephenson,VS4753@outlook.com,boots,leather,black
17,35961,Roy,Tillman,RoyTillman20@gmail.com,boots,leather,white

In [17]:






##Annadiendo Columnas

In [ ]:
df = pd.DataFrame([
    
    [1, "Martillo", 0.5, 0.75],
    
    
    
])